---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
    	  .custom-image {
     	  width: 300px; /* 设置图片的宽度 */
      	  height: auto; /* 设置图片的高度 */
          object-fit: cover; /* 保持图片比例 */
          display: block; /* 确保图片单独占据一行 */
          margin-bottom: 10px; /* 可选：增加底部间距 */
    	  }
 		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>富士</h1>
			<p>
				<img src="./图片 1.png" alt="图片1" class="custom-image">
				型号：X-A7<br>
				像素：2420w<br>
				亮点：富士X-A7相机，凭借其复古时尚的便携设计，优异的2420万像素APS-C传感器画质，简便的触摸屏操作与快速人眼对焦技术，长达440张的电池续航及灵活的USB-C充电，180°翻转大屏和丰富的胶片模拟创意功能<br>
				使用场景：日常摄影、街头摄影、视频/创意拍摄<br>
				参考价格：4400+
			</p>
			<p>
				<img src="./图片 2.png" alt="图片1" class="custom-image">
				型号：X-T30<br>
				像素：2400w<br>
				亮点：富士XT30相机，以2610万像素APS-C传感器、快速精准的自动对焦、便捷的触摸屏操作、高质量4K视频录制、便携耐用的设计、优秀的电池续航与便捷的无线连接功能，及丰富的胶片模拟创意拍摄选项<br>
				使用场景：旅行摄影、人像摄影、风景摄影、视频/创意拍摄<br>
				参考价格：5000
			</p>
			<p>
			<img src="./3.png" alt="图片1" class="custom-image">
			型号：X-T5<br>
			像素：4020w<br>
			亮点：专业级机器，三折屏幕，经典的拨盘设计和复古颜值机身，4020w像素，支持6k30p画质的录制，19种胶片模拟<br>
			使用场景：风光摄影、街拍及纪实摄影（自动对焦系统）、视频/创意拍摄<br>
			参考价格：13559<br>
			</p>
			<p>
				<img src="./4.png" alt="图片1" class="custom-image">
				型号：XS20<br>
				像素：2610w<br>
				亮点：拥有19种胶片模拟，直出效果好，机身较轻容易携带。支持6.2k视频拍摄，7档五轴防抖，可以拍照拍视频，外观简约时尚<br>
				使用场景：满足vlog和专业视频拍摄、户外拍摄、人像与自拍、创意摄影<br>
				参考价格：8799
			<p>
				<img src="./6.png" alt="图片1" class="custom-image">
				型号：X100V<br>
				像素：4020w<br>
				亮点：90度向上翻折屏，内置闪光灯，明星（沈月）同款，续航能力约350张，18种胶片及支持4k视频拍摄<br>
				使用场景：扫街、日常拍摄<br>
				参考价格：9790

			</p>
			<p>
				
			</p>
			<p>
				
			</p>
			<p>
				
			</p>
			<p>
				
			</p><p>
				
			</p>
			<p>
				
			</p>
			<p>
				
			</p>
			<p>
				
			</p>
			<p>
				
			</p>
			<p>
				
			</p><p>
				
			</p>
			<p>
				
			</p>
			<p>
				
			</p>
			<p>
				
			</p>
			<p>
				
			</p>
			<p>
				
			</p>
			<p>
				
			</p>

		</main>
		<Footer />
	</body>
</html>
