---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
    	  .custom-image {
     	  width: 300px; /* 设置图片的宽度 */
      	  height: auto; /* 设置图片的高度 */
          object-fit: cover; /* 保持图片比例 */
          display: block; /* 确保图片单独占据一行 */
          margin-bottom: 10px; /* 可选：增加底部间距 */
    	  }
 		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>富士</h1>
			<p>
				<img src="./图片1.png" alt="图片1" class="custom-image">
				型号：X-A7<br>
				像素：2420w<br>
				亮点：富士X-A7相机，凭借其复古时尚的便携设计，优异的2420万像素APS-C传感器画质，简便的触摸屏操作与快速人眼对焦技术，长达440张的电池续航及灵活的USB-C充电，180°翻转大屏和丰富的胶片模拟创意功能<br>
				使用场景：日常摄影、街头摄影、视频/创意拍摄<br>
				参考价格：4400+

			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
