---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
    	  .custom-image {
     	  width: 300px; /* 设置图片的宽度 */
      	  height: auto; /* 设置图片的高度 */
          object-fit: cover; /* 保持图片比例 */
          display: block; /* 确保图片单独占据一行 */
          margin-bottom: 10px; /* 可选：增加底部间距 */
    	  }
 		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>富士</h1>
			<p>
				<img src="./图片 1.png" alt="图片1" class="custom-image">
				型号：X-A7<br>
				像素：2420w<br>
				亮点：富士X-A7相机，凭借其复古时尚的便携设计，优异的2420万像素APS-C传感器画质，简便的触摸屏操作与快速人眼对焦技术，长达440张的电池续航及灵活的USB-C充电，180°翻转大屏和丰富的胶片模拟创意功能<br>
				使用场景：日常摄影、街头摄影、视频/创意拍摄<br>
				参考价格：4400+
			</p>
			<p>
				<img src="./图片 2.png" alt="图片1" class="custom-image">
				型号：X-T30<br>
				像素：2400w<br>
				亮点：富士XT30相机，以2610万像素APS-C传感器、快速精准的自动对焦、便捷的触摸屏操作、高质量4K视频录制、便携耐用的设计、优秀的电池续航与便捷的无线连接功能，及丰富的胶片模拟创意拍摄选项<br>
				使用场景：旅行摄影、人像摄影、风景摄影、视频/创意拍摄<br>
				参考价格：5000
			</p>
			<p>
			<img src="./3.png" alt="图片1" class="custom-image">
			型号：X-T5<br>
			像素：4020w<br>
			亮点：专业级机器，三折屏幕，经典的拨盘设计和复古颜值机身，4020w像素，支持6k30p画质的录制，19种胶片模拟<br>
			使用场景：风光摄影、街拍及纪实摄影（自动对焦系统）、视频/创意拍摄<br>
			参考价格：13559<br>
			</p>
			<p>
				<img src="./4.png" alt="图片1" class="custom-image">
				型号：XS20<br>
				像素：2610w<br>
				亮点：拥有19种胶片模拟，直出效果好，机身较轻容易携带。支持6.2k视频拍摄，7档五轴防抖，可以拍照拍视频，外观简约时尚<br>
				使用场景：满足vlog和专业视频拍摄、户外拍摄、人像与自拍、创意摄影<br>
				参考价格：8799
			<p>
				<img src="./6.png" alt="图片1" class="custom-image">
				型号：X100V<br>
				像素：4020w<br>
				亮点：90度向上翻折屏，内置闪光灯，明星（沈月）同款，续航能力约350张，18种胶片及支持4k视频拍摄<br>
				使用场景：扫街、日常拍摄<br>
				参考价格：9790

			</p>
			<p>
				<img src="./7.png" alt="图片1" class="custom-image">
				型号：XH2S<br>
				像素：2616w<br>
				亮点：360度翻转自拍屏幕，防抖及续航能力出色，每秒40张高速连拍，4k120帧慢动作，19种胶片及支持6k视频拍摄<br>
				使用场景：抓拍、人像、专业视频创作<br>
				参考价格：16700
			</p>
			<p>
				<img src="./8.png" alt="图片1" class="custom-image">
				型号：XE4<br>
				像素：2610w<br>
				亮点：180度向上翻折屏幕可自拍，颜值较高体积小巧，续航能力约350张，18种胶片及支持4k视频拍摄<br>
				使用场景：扫街、自拍、日常拍摄<br>
				参考价格：5999
			</p>
			<p>
				<img src="./9.png" alt="图片1" class="custom-image">
				型号：XT30ii<br>
				像素：2610w<br>
				亮点：外观经典复古颜值高，90度翻折屏幕，内置闪光灯，18种胶片及支持4k视频拍摄<br>
				使用场景：扫街、日常拍摄<br>
				<img src="./10.png" alt="图片1" class="custom-image">
				型号：ZV-E10（APS-C画幅）<br>
				像素：2420w<br>
				亮点：对焦性能好，支持4K视频拍摄，有三级美肤效果（自然清透），镜头选择群丰富、收音效果突出（有耳机接口）<br>
				使用场景：拍摄视频作业、日常拍照探店打卡、短视频平台视频拍摄（支持竖屏）<br>
				参考价格：4500<br>
				<img src="./11.png" alt="图片1" class="custom-image">
				型号：a6700  <br>                                 
				像素：2600w（APS-C画幅）<br>
				亮点：对焦性能好（能够自动识别人、鸟类、昆虫、汽车火车、飞机等）、可长时间录制、自动取景、<br>
				使用场景：旅拍、环境人像、视频\直播使用<br>
				参考价格：9699<br>
				<img src="./12.png" alt="图片1" class="custom-image">
				型号：ZV1<br>
				像素：<br>
				亮点：取消内置闪光灯和取景器，握持手感较好，18-5-mm超广角大光圈、侧翻屏自拍很方便，但不能换镜头<br>
				使用场景：vlog日常拍摄、人像、摄影入门<br>
				参考价格：5299<br>
				<img src="./13.png" alt="图片1" class="custom-image">
				型号：A7M4<br>
				像素：3300w（全画幅）<br>
				亮点:<br>
				1.拍照：270度翻转屏、色彩细节优化<br>
				2.拍视频:支持全画幅7k超采样的4k 30p的拍摄，为用户减少复杂的后期制作<br>
				3.对焦连拍:支持照片、视频拍摄时人眼实时跟踪<br>
				4.宽感光度范围：能够在各种光照条件下拍摄、尤其是在低光环境中<br>
				使用场景：婚礼跟拍、活动摄影等商业摄影、摄影工作者、各种需要拍摄的打工人<br>
				参考价格：15999<br>
				<img src="./14.png" alt="图片1" class="custom-image">
				型号：A7C2<br>
				像素：3300w（全画幅）<br>
				亮点:支持导入lut，AI自动构图、机内缩时摄影、AI对焦、十种创意滤镜选择、有防抖、丰富的E卡口镜头选择<br>
				使用场景：vlog拍摄、<br>
				参考价格：13999<br>
				<img src="./15.png" alt="图片1" class="custom-image">
				型号：FX30<br>
				像素：视频2010w  拍照2600w<br>
				亮点：<br>
				1.	采用平顶设计、带有螺纹配件连接点、便于搭载稳定器或其他配件<br>
				2.	双卡槽，同时兼容CFexpressType A卡和SDXC\SDHC卡<br>
				3.	双原生iso为800、2500，log模式操作方便<br>
				4.	适配镜头多<br>
				使用场景：直播、拍视频<br>
				参考价格：14999<br>
				<img src="./16.png" alt="图片1" class="custom-image">
				型号：A7RV<br>
				像素：6100w（全画幅）<br>
				亮点：超高像素、视频性功能强大、拥有八级5轴防抖、AI对焦功能强大<br>
				缺点：机身相对较大、价格偏高不适合初学者、使用原装电池时续航能力表现一般<br>
				使用场景：自然人文风光、以及特写拍摄<br>
				参考价格：23999<br>
			</p>
			<h2><span style="color: red;">佳能EOSR系列(全画幅微单相机)</span></h2>
			<p>
				<span style="color: green;">佳能 EOS R5</span>
			</p>
			<p>
				镜头：兼容RF镜头系列<br>
				亮点：高分辨率4500万像素传感器、出色的自动对焦系统、高速连拍、8K视频拍摄能力<br>
				使用场景：专业摄影、野生动物摄影、体育摄影、视频制作<br>
				参考价格：约人民币25,000元<br>
				<img src="./17.png" alt="图片1" class="custom-image">
			</p>
			<p>
				<span style="color: Grass Green;">佳能 EOS R6 II</span>
			</p>
			<p>
				镜头：兼容RF镜头系列<br>
				亮点：高速自动对焦、出色的图像稳定系统、高连拍速度、4K视频录制<br>
				使用场景：体育摄影、活动摄影、旅行摄影、视频博客<br>
				参考价格：约人民币18,000元
				<img src="./18.png" alt="图片1" class="custom-image">
			</p>
			<p>
				<span style="color: Brown;">佳能 EOS R7</span>
			</p>
			<p>
				镜头：兼容RF和EF-M镜头系列<br>
				亮点：APS-C画幅、高速自动对焦、高速连拍、4K视频录制<br>
				使用场景：旅行摄影、街头摄影、家庭摄影、视频制作<br>
				参考价格：约人民币12,000元<br>
				<img src="./19.png" alt="图片1" class="custom-image">
			</p>
			<h2><span style="color: red;">佳能EOS单反系列</span></h2>
			<p>
				<span style="color: green;">佳能 EOS 5D Mark IV</span>
			</p>
			<p>
				镜头：兼容EF镜头系列<br>
				亮点：全画幅传感器、出色的图像质量、高连拍速度、良好的低光性能<br>
				使用场景：专业摄影、人像摄影、婚礼摄影、风光摄影<br>
				参考价格：约人民币15,000元
				<img src="./20.png" alt="图片1" class="custom-image">
			</p>
			<p>
			<span style="color: Grass Green;">佳能 EOS R6 II</span>	
			</p>
			<p>
				镜头：兼容EF镜头系列<br>
				亮点：旗舰级单反相机、高速连拍、出色的自动对焦、耐用性<br>
				使用场景：体育摄影、新闻摄影、野生动物摄影<br>
				参考价格：约人民币40,000元
				<img src="./21.png" alt="图片1" class="custom-image">
			</p>
			<p>
				
			</p>
			<p>
				
			</p>
			<p>
				
			</p>

		</main>
		<Footer />
	</body>
</html>
